body {
  background-color: rgb(250, 207, 178);
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: center;
  font-size: 25px;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

#header {
  width: auto;
  height: 100px;
  background-color: rgb(207, 165, 137);
}
#header img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
}

button {
  width: 125px;
  height: 25px;
}

#location {
  width: 125px;
  height: 22px;
}

div [type="checkbox"] {
  transform: scale(1.2);
}
